.member-card {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__image-wrapper {
    width: 530px;
    height: 530px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__text {
    font-weight: 400;
    text-decoration: none;

    &--name {
      font-weight: 600;
    }

    &--email {
      flood-color: blue;
    }
  }
}
